.parent {
    padding: 10px;
}

.div2 {
    grid-area: 1 / 1 / 2 / 5;
}

.div3 {
    grid-area: 2 / 1 / 5 / 5;
}

.div3 {
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 5%;
    height: 45vh;

}

.div2 {
    margin-top: 5%;
}

table,
thead {
    border: 2px solid black;
    margin-bottom: 0px;
}

.div3 canvas {
    padding-bottom: 2vh;
    padding-top: 2vh;
    aspect-ratio: 1 / 1;
    height
}

.pesquisador {
    margin-top: 2vh;
    display: flex;
    justify-content: center;

    border-radius: 5px;
}

.pesquisador input {
    margin-left: 8px;
}

#graficoPacientes {
    aspect-ratio: 1 / 1;
    width: 40vw !important;
    height: 25vw !important;
    justify-self: center;
}