.container h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #2c3e50;
}

.filters {
  margin-bottom: 30px;
}

.filters label {
  font-weight: bold;
}

.filters select {
  padding: 5px;
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

thead {
  background: #2c3e50;
  color: white;
}

th,
td {
  padding: 15px 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

tbody tr:hover {
  background-color: #f0f8ff;
}

.status-free {
  color: #27ae60;
  font-weight: 700;
}

.status-occupied {
  color: #c0392b;
  font-weight: 700;
}

.chart-toggle-buttons {
  text-align: center;
  margin: 30px 0;
  margin-bottom: -50px;
}


.chart-toggle-buttons button {
  background-color: #2c3e50;
  color: #fff;
  border: none;
  padding: 10px 10px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: -15px;
  font-size: 16px;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chart-container h3 {
  margin-bottom: 10px;
  color: #2c3e50;
  font-size: 20px;
  text-align: center;
}

canvas {
  display: block;
  margin: 0 auto;
  max-width: 60%;

}

#filter-boxid {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 15px 10px 15px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  flex-wrap: wrap;
  height: 5.8vh;
  min-height: 55px;
}

#filter-boxid label {
  font-weight: bold;
  color: #2c3e50;
  margin-right: 5px;
}

#filtrofuncionario {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 180px;
  background-color: #fff;
  color: #2c3e50;
}

#filtroData {
  width: 100px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  background-color: #fff;
  color: #2c3e50;
  margin-top: 4px;
}

#filter-boxid input[type="text"]::placeholder {
  color: #999;
}

.botao-filtro-discreto {
  margin-bottom: 20px;
  padding: 10px 0;
}

.hidden {
  max-height: 1px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

#filtrarButton {
  align-self: flex-start;
}



@media screen and (max-width: 820px) {
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
    padding: 0;
  }

  .content h2 {
    padding-top: 50px;
  }




  #areaFiltros {
    flex-direction: column;
    align-items: flex-start;
  }

  #areaFiltros input[type="text"],
  #areaFiltros input[type="date"] {
    width: auto;
    margin-bottom: 10px;
  }

}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.filters {
  margin-bottom: 30px;
}

.filters label {
  font-weight: bold;
}

.filters select {
  padding: 5px;
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

thead {
  background: #2c3e50;
  color: white;
}

th,
td {
  padding: 15px 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

tbody tr:hover {
  background-color: #f0f8ff;
}

.status-free {
  color: #27ae60;
  font-weight: 700;
}

.status-occupied {
  color: #c0392b;
  font-weight: 700;
}





.chart-toggle-buttons button:hover,
.chart-toggle-buttons button.active {
  background-color: #1abc9c;
  color: #fff;
  font-weight: bold;
}






#filter-boxid {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 15px 10px 15px;
  padding-bottom: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  flex-wrap: wrap;
}

#filter-boxid label {
  font-weight: bold;
  color: #2c3e50;
  margin-right: 5px;
}

#filter-boxid input[type="text"]::placeholder {
  color: #999;
}

.botao-filtro-discreto {
  margin-bottom: 20px;
  padding: 10px 0;
}

.hidden {
  max-height: 1px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}


@media screen and (max-width: 820px) {

  table th,
  table td {
    font-size: x-small;
    padding: 3px;
  }

}



/* Chart container styles */
.chart-container {
  position: relative;
  width: 300px;
  max-width: 100%;
  height: 100%;
  /* Fixed height instead of min-height */
  margin: 20px 0;
}








.filtro-item {
  padding: 0px;
}

@media screen and (max-width: 510px) {
  #filter-boxid {
    height: 100px;
    justify-content: flex-start;
  }

  #labelFiltroData {
    display: block;
  }


}